.main {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    text-align: left;
  }
}

.poster {
  max-width: 426px;
  height: 514px;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .poster {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.description {
  text-align: left;
}

.movieTitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  text-shadow: var(--textShadow);
  text-align: center;
}

.info {
  margin-bottom: 30px;
  font-size: 18px;
  color: #c3beba;
}

.genre {
  composes: info;
  list-style: inside;
}

.title {
  font-family: 'Bangers', sans-serif;
  letter-spacing: 0.2em;
  color: var(--accentColor);
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px 40px;
  border-top: 2px solid var(--secondaryTextColor);
}

.link {
  margin-right: 24px;
  font-weight: 500;
  font-size: 18px;
  color: var(--primaryTextColor);
}

.activeLink {
  composes: link;
  color: var(--accentColor);
}
